<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="RPGEntities" connectionString="metadata=res://*/ADO_RPG.csdl|res://*/ADO_RPG.ssdl|res://*/ADO_RPG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.49;initial catalog=RPG;user id=admin;password=Qwerty123$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>